brotli==1.0.7
cryptography==2.8
Cython==0.29.14
importlib_metadata==1.4.0
ipaddr==2.2.0
keyring==21.1.0
lockfile==0.12.2
lxml==4.4.2
mock==3.0.5
mypy_extensions==0.4.3
numpy==1.18.1
ordereddict==1.1
protobuf==3.11.2
pyOpenSSL==19.1.0
simplejson==3.17.0
toml==0.10.0
usercustomize==1.0.0
wincertstore==0.2
zipp==1.0.0
